@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br />
<div class="row justify-content-md-center">
    <div class="card text-center shadow col-md-10" style="max-width: auto">
    <div class="row g-0">
        <div class="col-md-10">
            <br />
            <h2 class="card-title mx-2">Professor Kerry Muhlestein</h2>
            <div class="card-body">

                <div class="mx-auto m-2 p-1">
                    <img src="https://elasticbeanstalk-us-east-1-891046424969.s3.amazonaws.com/Photos/kerry.jpg" ;
                         alt="..."
                         class="img-fluid"
                         width="400" />
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-4">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<br />
<div class="row justify-content-md-center">
    <div class="card shadow col-md-10" style="max-width: auto">
        <div class="row g-0">
            <div class="col-md-10">
                <br />
                <h2 class="card-title">Paul Evans</h2>
                <div class="card-body">

                    <div class=" mx-auto m-2 p-1">
                        <img src="https://elasticbeanstalk-us-east-1-891046424969.s3.amazonaws.com/Photos/paul.jpg" ;
                             alt="..."
                             class="img-fluid"
                             width="400" />
                    </div>

                    <div class="row">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />