@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel container slide">
    <div class="carousel-inner">
        <div class="item two"></div>
        <div class="item three"></div>
    </div>
</div>
<!-- Page Content -->
<div class="container">

    <!-- Jumbotron Header -->

    <header class="jumbotron my-4 bg-white shadow-sm">
        <h1 class="display-3">Fag el-Gamous</h1>
        <p class="lead">
            For over 25 years, Fag el-Gamous (Way of the Water Buffalo) has helped reveal the secrets of ancient Egypt.
            The cemetery has been excavated primarily by BYU researchers, but this site offers
            they have gathered for public use. Thank you for visiting, and have a great day!
        </p>
        <br />
        <br />
        <img src="~/img/logo.jpg" class="img-fluid justify-content-center" />
        <a asp-controller="BurialCrud" asp-action="Index" class="btn btn-primary btn-lg">See the Mummies!</a>
        <a class="btn btn-danger" asp-controller="BioSampleCrud" asp-action="FullTableDisplay">See all bio samples</a>
        <a class="btn btn-success" asp-controller="CarbonDatingCrud" asp-action="FullTableDisplay">See all carbon dating samples</a>
        <a class="btn btn-warning" asp-controller="CranialCrud" asp-action="FullTableDisplay">See all cranial samples</a>
        <a class="btn btn-secondary" asp-controller="FieldNotesCrud" asp-action="FullTableDisplay">See all Field Book References</a>
    </header>
</div>


    <script type="text/javascript">
        $(document).ready(function () {
            $('.carousel').carousel({ interval: 7000 });
        });
    </script>
    <!-- /.container -->
