@{
    ViewData["Title"] = "Home Page";
}

<!-- Page Content -->
<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4 bg-white shadow-sm">
        <h1 class="display-3">Fag el-Gamous</h1>

        <p class="lead">For over 25 years, Fag el-Gamous (Way of the Water Buffalo) has helped reveal the secrets of ancient Egypt.
                        The cemetary has been excavated primarily by BYU researchers, but this site offers
                        they have gathered for public use. Thank you visting, and have a great day!</p>
        <a href="#" class="btn btn-primary btn-lg">Call to action!</a>
    </header>

    <!-- Page Features -->
    <div class="row text-center">

       

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
