@{
    ViewData["Title"] = "Home Page";
}

<!-- Page Content -->
<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4 bg-white shadow-sm">
        <h1 class="display-3">Fag el-Gamous</h1>

        <p class="lead">For over 25 years, Fag el-Gamous (Way of the Water Buffalo) has helped reveal the secrets of ancient Egypt.
                        The cemetery has been excavated primarily by BYU researchers, but this site offers
                        they have gathered for public use. Thank you for visiting, and have a great day!</p>
        <a asp-area="" asp-controller="BurialCrud" asp-action="Index" class="btn btn-primary btn-lg">See the Mummies!</a>
    </header>

</div>
<!-- /.container -->
