@model Intex2.Models.Burial

<form asp-action="Create">

    <div class="tabs">
        <input type="radio" name="tabs" id="tabone" checked="checked">
        <label for="tabone">Exhumation Data Entry</label>
        <div class="tab">

            <h1>Create Burial Record</h1>

            <p><i>This is where we can write a short page description about stuff and such</i></p>

            <h2>Burial ID</h2>

            <div class="row">

                <div class="col-md-4">
                    <!--North or South-->
                    <div class="form-group">
                        <input asp-for="NorthOrSouth" class="form-control" placeholder="North or South" />
                        <span asp-validation-for="NorthOrSouth" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <!--This is the NS Low ID (i.e. the 140 in 140/150-->
                    <div class="form-group">
                        <input asp-for="NsLowPosition" class="form-control" placeholder="Low Position (N/S)" />
                        <span asp-validation-for="NsLowPosition" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <!--This is the NS High ID (i.e. the 150 in 140/150) this field will be hidden-->
                    <div class="form-group">
                        <input asp-for="NsHighPosition" class="form-control" placeholder="High Position (N/S)" />
                        <span asp-validation-for="NsHighPosition" class="text-danger"></span>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-4">
                    <!-- East or West -->
                    <div class="form-group">
                        <input asp-for="EastOrWest" class="form-control" placeholder="East or West" />
                        <span asp-validation-for="EastOrWest" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <!--This is the EW Low ID (i.e. the 40 in 40/50)-->
                    <div class="form-group">
                        <input asp-for="EwLowPosition" class="form-control" placeholder="Low Position (E/W)" />
                        <span asp-validation-for="EwLowPosition" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <!--This is the EW High ID (i.e. the 50 in 40/50)-->
                    <div class="form-group">
                        <input asp-for="EwHighPosition" class="form-control" placeholder="High Position (E/W)" />
                        <span asp-validation-for="EwHighPosition" class="text-danger"></span>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-6">
                    <!-- Area (NW, NE, SW, SE) -->
                    <div class="form-group">
                        <input asp-for="Square" class="form-control" placeholder="Area" />
                        <span asp-validation-for="Square" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <!-- Burial Number -->
                    <div class="form-group">
                        <input asp-for="BurialNumber" class="form-control" placeholder="Burial Number" />
                        <span asp-validation-for="BurialNumber" class="text-danger"></span>
                    </div>
                </div>

            </div>

            <br />

            <h2>Metrics</h2>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <input asp-for="BurialSouthToHead" class="form-control" placeholder="Burial South to Head" />
                        <span asp-validation-for="BurialSouthToHead" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <input asp-for="BurialSouthToFeet" class="form-control" placeholder="Burial South to Feet" />
                        <span asp-validation-for="BurialSouthToFeet" class="text-danger"></span>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <input asp-for="BurialWestToHead" class="form-control" placeholder="Burial West to Head" />
                        <span asp-validation-for="BurialWestToHead" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <input asp-for="BurialWestToFeet" class="form-control" placeholder="Burial West to Feet" />
                        <span asp-validation-for="BurialWestToFeet" class="text-danger"></span>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <input asp-for="LengthM" class="form-control" placeholder="Burial Length (in Meters)" />
                        <span asp-validation-for="LengthM" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <input asp-for="BurialDepth" class="form-control" placeholder="Burial Depth (in Meters)" />
                        <span asp-validation-for="BurialDepth" class="text-danger"></span>
                    </div>
                </div>

            </div>

            <br />

            <h2>Observations</h2>

            <div class="row">

                <div class="col-md-6">
                    <p>This should be yes or no on photo</p>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <input asp-for="Goods" class="form-control" placeholder="Burial Goods" />
                        <span asp-validation-for="Goods" class="text-danger"></span>
                    </div>
                </div>


            </div>

        </div>

        <input type="radio" name="tabs" id="tabtwo">
        <label for="tabtwo">Tab Two</label>
        <div class="tab">
            <h1>Tab Two Content</h1>
            <p>Some more stuffffff</p>
        </div>

        <input type="radio" name="tabs" id="tabthree">
        <label for="tabthree">Tab Three</label>
        <div class="tab">
            <h1>Tab Three Content</h1>
            <p>Ain't this neat?</p>
        </div>
    </div>

    <br />

    <div class="form-group text-right">
        <input type="submit" value="Create Burial" class="btn btn-primary" />
    </div>

    <br />

</form>