@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="#">Intex II</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse navbar-custom" id="navbarColor02">
        <ul class="navbar-nav flex-grow-1">

            <li class="nav-item">
                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Burials">Burials</a>
            </li>

            @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdministratorRole")).Succeeded)
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Researcher</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Add Burial</a>
                        <a class="dropdown-item" href="#">Upload Photo</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something Special</a>

                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Administrator</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-page="/Users/List">List Users</a>
                        <a class="dropdown-item" asp-page="/Users/Create">Create New Account</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-page="/Roles/List">List Roles</a>
                        <a class="dropdown-item" asp-page="/Roles/Editor/dc0f1ebe-2c82-4381-ac47-324878fd3373">Add Researchers</a>
                    </div>
                </li>
            }

            else if ((await AuthorizationService.AuthorizeAsync(User, "RequireResearcherRole")).Succeeded)
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Researcher</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Add Burial</a>
                        <a class="dropdown-item" href="#">Upload Photo</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something Special</a>

                    </div>
                </li>
            }

        </ul>

        <div class="my-2 my-lg-0">
            <ul class="navbar-nav">
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-page="/Account/Details" title="Manage">Hello @User.Identity.Name!</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Logout">Logout</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </li>
                }
            </ul>
        </div>

    </div>

</nav>
