@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model BurialListViewModel
@{ 
    string id = Model.burial.BurialId;
}

<form method="post"asp-action="SavePhoto" enctype="multipart/form-data">
    <label asp-for="@Model.ImageUpload.file">UPLOAD A PIC FOR ME</label>
    <input type="file" asp-for="@Model.ImageUpload.file" />
    <input type="hidden" value="@id" asp-for="@Model.ImageUpload.BurialId"/>
    <button type="submit">SUBMIT</button>
</form> 